@font-face{
  font-family: libmono;
  src: url(fonts/libmono.ttf);
}

@font-face{
  font-family: cour;
  src: url(fonts/cour.ttf);
}
body{
  margin: 0;
  padding: 0;
  font-family: libmono;
  font-size: 110%;
  text-align: center;
  image-orientation:center;
  background-image: url(img/jameswheeler.jpeg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position:center;
}
header {
  max-width: 100%;
  color: black;
  text-align: center;
  line-height: 0.9em;
}


p.pane{
  color:#9EDA2F
}



hr.cut{
  color:#99F902
}
img.pane{
  float:right;
  max-width:350px;
  height: auto;
  padding:5px
}

img.sigil{
  border-radius: 14px;
  padding:7px;

}

img.sigil:hover{
  background-color: #000;
  background-color:rgb(0,0,0,0.9);

}

a{
  text-decoration: none;
  color: #494949
}

a.link{
  text-decoration: none;
  color:#99F902;
}

a.link2{
  text-decoration: none;
  color: #1A0DB2;
  font-family: monospace;
}

a.dif {
  text-decoration: none;
  padding: 3px;
  color: #000;
  background-color: #DFDFDF;
  text-align: center;
  outline: 1px solid #797979;
}

a.dif.active, a.dif:hover{
  background-color: rgb(98, 255, 121);
  color: #000;

}

nav ul{
  background:;
  overflow: hidden;
  color: white;
  padding: 0px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  border-radius: 10px;
  font-family: arial;
  background:black;
  padding: 5px;
  color:#cccccc;
}
nav ul li:hover{
  background-color: #212121;
  color:#99F902;
}

nav ul li.active{
  background-color: #62FFA7;
}
section{
  text-align: left;
  width: auto;
  padding: 10px;
  color:#7E93B4;
  background-color: #000;
  background-color:rgb(0,0,0,0.7);
  border: solid 1px #000;
  border-radius:10px;
  margin:0;
}

section.2{
  text-align: center;
  width: auto;
  padding: 10px;
  color:#7E93B4;
  background-color: #000;
  background-color:rgb(0,0,0,0.7);
  border: solid 1px #000;
  border-radius:10px;
  margin:0;
}

h2 {
  font-size: 110%
}

h1, h3, h4{
  color:#4485F5
}

.column1 {
    float: left;
    padding: 10px;
    height:400px;
    width:70%;
    box-sizing:border-box;
}
.column2 {
    float: left;
    padding: 10px;
    width:30%;
    height:400px;
    box-sizing:border-box;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
button.accordion {
    background-color:#000;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 25px;
    text-align: center;
    border: 1px solid #797979;
    margin:5px;
    font-size: 23px;
    font-family: cour;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #00011F;
    color: #9EDA2F;
    border-radius: 25px;
    border: 1px solid #9EDA2F;
}

div.panel {
    padding: 0 18px;
    display: none;
    color:#9EDA2F;

}

.container{
  max-width:800px;
}

.footer {
  position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   color:#7E93B4;
   background-color: #000;
   background-color:rgb(0,0,0,0.7);
   text-align: left;
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
}

td, th{
      border: 1px solid #99F902;
      text-align: left;
      padding: 8px;
}

tr:nth-child(even) {
    background-color: ;
}

@media screen and (max-width: 350px){
  .container{
    width: auto;
  }
  img.in{
    width:auto;
  }

  img.pane{
    float:right;
    max-width:275px;
    height: auto;
    padding:4px;
    margin-left: 5px;
  }
.column1 {
    float: left;
    width: 100%;
    padding: 10px;
    height:auto;
    box-sizing: content-box;
}
.column2 {
    float: left;
    width: 100%;
    padding: 10px;
    height:auto;
    box-sizing: content-box;
}
table{
  font-size: 80%;
}
}
